@import "tailwindcss";

@theme {
  --color-primary: #EBB507;
  --color-background-light: #F8F8F8;
  --color-background-dark: #1c1b1b;
  --color-surface-light: #FFFFFF;
  --color-surface-dark: #2A2929;

  --font-display: var(--font-montserrat), sans-serif;
  --font-heading: var(--font-nunito), sans-serif;
  --font-sans: var(--font-poppins), sans-serif;
  --font-body: var(--font-inter), sans-serif;

  --font-manrope: var(--font-manrope), sans-serif;
  --font-syne: var(--font-syne), sans-serif;
  --font-space: var(--font-space), sans-serif;
  --font-jakarta: var(--font-jakarta), sans-serif;
}

/* Custom Utilities */
.gradient-text {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #EBB507, #FFD700);
}